.dashboard-container {
  padding: 20px;
  text-align: center;
  background-color: #f0f2f5; /* Light background */
  min-height: 100vh;
}

.dashboard-title {
  color: #4caf50; /* Green title */
  margin-bottom: 20px;
  margin-top: 60px;
}
.dashboard-paragraph{
  color:#45a049 ;
  font-weight: bolder;
}
.ant-form-item-label > label {
  font-weight: bold;
  color: #333; /* Label color in light mode */
}

button.ant-btn {
  background-color: #4caf50; /* Green button color */
  border-color: #4caf50;
  color: white; /* Button text color */
}

button.ant-btn:hover {
  background-color: #45a049; /* Darker green for hover */
  border-color: #45a049;
}

.dark-mode .dashboard-container {
  background-color: #1a1a1a; /* Dark background for dashboard */
}

.dark-mode .dashboard-title {
  color: white; /* Title color in dark mode */
}
.dark-mode .dashboard-paragraph{
  color: white ;
}

.dark-mode .ant-form-item-label > label {
  color: white; /* Label color in dark mode */
}

.dark-mode button.ant-btn {
  background-color: #4caf50; /* Keep green button in dark mode */
  border-color: #4caf50;
  color: white; /* Button text color in dark mode */
}

.dark-mode button.ant-btn:hover {
  background-color: #45a049; /* Darker green for hover in dark mode */
  border-color: #45a049;
}
