/* Light mode styles */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Full height */
  background-color: #f0f2f5; /* Light background */
}

.animation-container {
  flex: 0 0 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0; 
  margin-bottom: 0; 
  margin-top: -50px;
}

.content-container {
  text-align: center;
  padding: 0; 
  margin-top: -30px; 
  margin-bottom: 99px;
}

.content-container h1 {
  color: black; /* Heading color in light mode */
  font-weight: bolder;
  margin-top: 20px;
}

/* Directly target the Ant Design Paragraph component */
.content-container .ant-typography {
  color: black; /* Paragraph color in light mode */
}

.button-group {
  margin-top: 4px;
}

/* Dark mode styles */
.dark-mode .login-page {
  background-color: #1a1a1a; /* Dark background */
}

.dark-mode .content-container h1 {
  color: white; /* Heading color in dark mode */
}

.dark-mode .content-container .ant-typography {
  color: white; /* Paragraph color in dark mode */
}

/* Button styles for consistent green color in both light and dark modes */
.login-button {
  background-color: #4caf50 !important; /* Primary green color */
  border-color: #4caf50 !important;
  color: white !important;
}

.login-button:hover,
.login-button:focus,
.login-button:active {
  background-color: #45a049 !important; /* Darker green for hover and focus */
  border-color: #45a049 !important;
}
