/* src/App.css */
.App {
    text-align: center;
    background-color: #f9f9e6 !important;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  